html, body, #root, .canvas-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.room-container {
  width: 70vw;
  height: 70vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
